<html>
    <head>
        <meta charset="UTF-8">
        <title>Lista de produtos</title>
    </head>
    <body>
        <table border="1">
            <tr>
                <th>ID</th>
                <th>Descrição</th>
                <th>Preço</th>
            </tr>
            <tr th:each="produto : ${listaDeProdutos}">
                <td th:text="${produto.id}"></td>
                <td th:text="${produto.descricao}"></td>
                <td th:text="${produto.preco}"></td>
            </tr>
        </table>
    </body>
</html>